*,
::before,
::after {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    transition: .3s all;
}

/* Primary */
:root {
    --Dark-cyan: hsl(158, 36%, 37%);
    --Cream: hsl(30, 38%, 92%);

    /* Neutral */

    --Very-dark-blue: hsl(212, 21%, 14%);
    --Dark-grayish-blue: hsl(228, 12%, 48%);
    --White: hsl(0, 0%, 100%);
}


h1 {
    font-family: 'Fraunces', serif;
}

p, span {
    font-family: 'Montserrat', sans-serif;
}

body {
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: var(--Cream);
}

.card{

    width: 800px;
    height: 600px;
    overflow: hidden;
    display: flex;

    background-color: var(--White);
    border-radius: 20px;
}

.image{

    min-width: 50%;

    background-position: center;
    background-size: cover;
    background-image: url(../images/image-product-desktop.jpg);
    height: 100%;
}

.card-info{
    justify-content: space-between;
    padding: 45px;
    display: flex;
    flex-direction: column;


}

.card-info span{
    color: var(--Dark-grayish-blue);
    letter-spacing: 5px;

}


.card-info h1{

    font-size: 50px;
    line-height: 0.8;
    color: var(--Very-dark-blue);
}

.card-info p{

    color: var(--Dark-grayish-blue);
    font-size: 17px;
}

.price{

    width: 100%;
    display: flex;
    align-items: center;
    padding-right: 50px;
}

.price h1{

    color: var(--Dark-cyan);
}

.price span{

    letter-spacing: 0;
    text-decoration: line-through;
    

}

.buy-btn{

    cursor: pointer;
    background-color: var(--Dark-cyan);
    padding: 20px;
    border-radius: 10px;
    border: none;
    color: var(--White);
    padding: 20px;
    font-family: 'Montserrat', sans-serif;


}

.buy-btn:hover {
    background-color: hsl(159, 36%, 25%);
}